.hero-content--wide {
  max-width: none;
}

.hero-content .hero-title--single-line {
  margin-bottom: 1rem;
  white-space: nowrap;
  font-size: clamp(0.6rem, 3vw, 2rem);
  letter-spacing: -0.015em;
}
